# Quartus build related
*.rpt
*.done
*.summary
db/*
incremental_db/compiled_partitions/*
simulation/modelsim/*
nios_system.sopcinfo
nios_system/synthesis/nios_system.qip
nios_system/synthesis/nios_system.v
vga_exercise.jdi
vga_exercise.pin
vga_exercise.pof
vga_exercise.sof


# Qsys generation related
nios_system.html
.qsys_edit/*
nios_system/synthesis/submodules/nios_system_nios2_processor_ociram_default_contents.mif

# BSP generation
software/game/game.elf
software/game/game.map
software/game/game.objdump
software/game/obj/
software/game_bsp/*

# Random
vga_exercise.parallel.txt
