# Quartus build related
*.rpt
*.done
*.summary
db/*
incremental_db/compiled_partitions/*
simulation/modelsim/*

# Qsys generation related
nios_system.html
.qsys_edit/*
nios_system/synthesis/submodules/nios_system_nios2_processor_ociram_default_contents.mif

# BSP generation
software/game/game.elf
software/game/game.map
software/game/game.objdump
software/game/obj/
software/game_bsp/libhal_bsp.a
software/game_bsp/obj/
