Product: Video Game implementation of Multiplayer Side Scroller Racing Game

1. Target Market:
The target market for this product is: Young adults (80-90s kids) who enjoy playing games in a social setting and of a competitive nature.

2. List of constraints or needs imposed by this target market:
	1. Easy to get started (would like to have smaller, high paced games, minimal setup for multiplayer)
	2. Should have simple controls using the wii Nunchuck
	3. Both players should have identical controls and race on the maps of equal dificulty to ensure level playing field
	4. No noticable lag
	5. All in one screen 

3. List of project requirements:
	1. Standard menu options such as controls, leaderboard, credits, play, settings (difficulty, story)
	2. Random maps generation (powerups, obstacles)
	3. Nunchuck controlled
	4. Permanent external storage of scores
	5. Catchphrases and fast pased music
	6. classic arcade style graphics
	7. There should be a quick way to restart game and bypass story